/*
 Custom utilities
 */
@import 'utilities.pcss';

/*
 Custom classes
 */
@import 'button.pcss';
@import 'form.pcss';
@import 'general.pcss';
@import 'typography.pcss';
@import 'elements.pcss';

/*
 Font Awesome icons
 */
@import 'icons/fontawesome.css';
@import 'icons/light.css';
@import 'icons/regular.css';
@import 'icons/solid.css';
@import 'icons/brands.css';
@import 'icons/duotone.css';

/*
 Tailwind
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
