/* Custom components */
@import 'button.pcss';
@import 'form.pcss';
@import 'general.pcss';
@import 'typography.pcss';
@import 'iconicss-customized.css';

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
