@layer components {
    .title {
        @apply mb-3.5;

        &.is-1 {
            @apply text-4xl font-extrabold leading-tight;
        }
        &.is-2 {
            @apply text-2xl font-bold leading-snug;
        }
    }
}
