@layer components {

    .title {
        @apply text-gray-900;

        &.is-1 {
            @apply text-4xl font-extrabold leading-tight;
        }
        &.is-2 {
            @apply text-2xl font-bold leading-snug;
        }
    }

    strong {
        @apply text-gray-800 font-bold;
    }

    .figcaption {
        @apply text-sm text-gray-500 last:mt-1 first:mb-1;
    }
}
