### Project ###

# Resulting builds for local and staging environments
build_local
build_staging

# Dependencies
node_modules
vendor

# Stuff that's built by Mix
source/assets/build
source/assets/css
source/assets/js
source/assets/mix-manifest.json

# Misc
cache
npm-debug.log



### IDE ###

# File-based project format
*.iws
# IntelliJ
.idea
out/
.idea_modules/
# VS Code
.vscode



### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### End of https://www.gitignore.io/api/macos
